.container {
  background-color: #0062ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  background: #ffffff;
  box-shadow: 0px 9px 24px rgba(0, 0, 0, 0.18);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px 92px;
  width: 100%;
  max-width: 600px;

  hr {
    width: 100%;
    color: #e0e2e9;
    border: 1px solid #e0e2e9;
    border-radius: 1px;
    margin-top: 36px;
  }

  h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.1px;

    color: #171725;
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.recovery {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.1px;

  color: #0062ff;
  text-decoration: none;
  margin-top: 12px;
  opacity: 0.5;
  cursor: not-allowed;
}

.register {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  text-align: center;
  letter-spacing: 0.1px;

  color: #ffffff;
  text-decoration: none;
  margin-top: 80px;
}

@media only screen and (max-width: 768px) {
  .box {
    width: 100%;
    max-width: 80vw;
    padding: 36px 48px;
  }

  .container {
    padding: 36px 16px;
  }
}

@media only screen and (max-width: 500px) {
  .box {
    max-width: 95vw;
    padding: 36px 16px;

    h2 {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .recovery,
  .register {
    font-size: 12px;
    line-height: 21px;
  }
}
