button {
  background: #0062ff;
  border-radius: 8px;
  border: none;
  padding: 14px 64px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.1px;

  color: #ffffff;
  cursor: pointer;

  &:hover {
    background: #044bbd;
    transition: 200ms all ease-in-out;
  }
}

@media only screen and (max-width: 500px) {
  button {
    font-size: 12px;
    line-height: 19px;
  }
}
