.input-component {
  border: 1.60375px solid #e0e2e9;
  border-radius: 8px;
  display: flex;
  padding: 16px;
  align-items: center;

  input {
    border: none;
    margin-left: 12px;
    outline: none;
    width: 100%;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    letter-spacing: 0.1px;

    &::placeholder {
      color: #969ab8;
    }
  }

  &:focus-within {
    border-color: #0062ff;
    transition: ease-in-out 200ms;
  }
}
