.app-container {
  display: flex;
}

.content {
  width: 100%;
  margin-left: calc(50px + 5vw);
  transition: all ease-in-out 200ms;
}

.navbar-container:hover + .content {
  margin-left: calc(150px + 5vw);
}

.navbar-container {
  background: #ffffff;
  box-shadow: 0px 9px 24px rgba(0, 0, 0, 0.18);
  border-radius: 0 14px 14px 0;
  display: flex;
  flex-direction: column;
  padding: 32px 32px;
  margin-top: 5vh;
  overflow: hidden;
  white-space: nowrap;
  z-index: 9999;
  white-space: break-spaces;
  max-height: 90vh;
  height: 100vh;
  max-width: 50px;
  width: 100%;
  transition: all ease 200ms;
  position: fixed;

  &:hover {
    max-width: 150px;
    width: 100%;
  }
}

.menu-button {
  display: none;
}

@media only screen and (max-width: 500px) {
  .content {
    padding-left: calc(50px + 5vw);
  }

  .app-container {
    flex-direction: column;
  }

  .navbar-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-width: unset;
    padding: 16px;
    margin-right: 0;
    margin-top: 0;
    border-radius: 0 0 14px 14px;
    height: 60px;

    &:hover {
      max-width: unset;
    }
  }

  .navbar-container.open {
    height: 273px;
    max-width: unset;
  }

  .content {
    margin-left: 0;
    padding: 0;
  }

  .navbar-container:hover + .content {
    margin-left: 0;
  }

  .menu-button {
    display: inline-block;
    cursor: pointer;
    margin-left: auto;
    padding-bottom: 16px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
  }

  .open .bar1 {
    transform: translate(0, 7px) rotate(-45deg);
  }

  .open .bar2 {
    opacity: 0;
  }

  .open .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
}
